{% load tree_menu %}  <!--  Эта строка загружает пользовательский тег -->

{% spaceless %}  <!-- Этот тег удаляет все пробелы и переносы строк между тегами -->

    {% for item in current_menu %}  <!-- current_menu берется из tree_menu -->

        {% if forloop.first %}  <!-- Является ли текущий элемент первым в цикле. -->

            <ul class="{% if item.parent == 0 %}topmenu{% else %}submenu{% endif %}">  <!-- класс topmenu или submenu присваивается в зависимости от значения item.parent -->

        {% endif %}

        <li class="menu-item-{{ item.id }}">  <!-- Присваивается идентификатор элемента меню -->

            <!--
                Этот HTML-тег <a> представляет ссылку для элемента меню.
                Он имеет атрибут href, который устанавливает URL-адрес ссылки на значение item.url.
                Класс active добавляется, если item.active равно True, что указывает на активный элемент меню.
                Атрибут target устанавливает целевое окно или фрейм, в котором будет открыт URL-адрес.
            -->
            <a href="{{ item.url }}"
               class="{% if item.active %}active{% endif %}"
               target="{{ item.target }}">

                {{ item.name }}  <!-- выводит имя элемента меню внутри ссылки -->
            </a>

            {% draw_menu name item.id %}  <!-- спользуется для отрисовки подменю элемента меню -->
        </li>

        <!--
            Этот блок условия проверяет, является ли текущий элемент последним в цикле.
            Если это так, то генерируется закрывающий тег </ul>,
            чтобы завершить список элементов меню.
        -->
        {% if forloop.last %}</ul>{% endif %}

    {% endfor %}
{% endspaceless %}
